@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

html {
    font-size: var(--font-size);
    color: var(--color-text);
    overflow-y: overlay;
    overscroll-behavior: none;
    touch-action: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

body, button {
    font-family: var(--font-family), sans-serif;
}

body {
    color: var(--color-text);
    background-color: var(--color-background);
    line-height: var(--line-height);
    -webkit-text-size-adjust: none;
}

input, textarea, option, select {
    appearance: none;
    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size);
    color: var(--color-text);
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
    border-radius: 0.21vw;
    border: 1px solid var(--color-border);
    height: 2.08vw;
    padding:0 0.63vw;
}

textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0.63vw;
    height: 7.92vw;
}

*{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

img {
    vertical-align: middle;
    -ms-interpolation-mode: bicubic !important;
}

ul, li, ol, li, dl, dd, dt {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    visibility: hidden;
    z-index: -1;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

legend, hr {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    z-index: -1;
    width: 0;
    height: 0;
    font-size: 0;
}

/* Button */
button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: var(--font-size);
    line-height: 1;
    border-radius: 0;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="file"], input[type="number"] {

}

input[type="number"], input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {

}

input[type="date"], input[type="time"] {
    appearance: auto;
    -webkit-appearance: auto;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    width: 1.67vw;
    height: 1.67vw;
}

input[type="button"], input[type="submit"] {

}

select{
    background-image: url(../images/common/ico_select_arrow.svg);
    background-repeat: no-repeat;
    background-position: center right 0.63vw;
    background-size: 1.25vw;
}

select:required:invalid {
    color: var(--color-text-sub);
}

select::-ms-expand {
    display: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="file"]:focus, select:focus, textarea:focus {
    border-color: var(--color-primary);
}

/* link */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {}

::placeholder {
    color: var(--color-text-sub);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
}

::-ms-input-placeholder {
    /* Microsoft Edge */
}

a:focus, button:focus, select:focus, input:focus, input:focus+label, textarea:focus, label:focus {
    outline: none;
}

input[type="text"]:read-only, input[type="password"]:read-only, input[type="tel"]:read-only, input[type="email"]:read-only, input[type="file"]:read-only {}

/*scrollbar hidden*/
::-webkit-scrollbar {
    display: none;
}

/* 프린트 출력시 배경그래픽 자동 설정 */
@media print and (color) {
   * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

/* iOS vh BUG FIX  */
@supports (-webkit-touch-callout: none) {
    html {
        height: --webkit-fill-available;
    }
}

@media (max-aspect-ratio: 10/9) {
    input, option, select {
        height: 11.11vw;
        border-radius: 1.11vw;
        padding: 0 3.33vw;
    }
    textarea {
        height: 42.22vw;
        border-radius: 1.11vw;
        padding: 3.33vw;
    }
    select {
        background-size: 6.67vw;
        background-position: center right 3.33vw;
    }
    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-calendar-picker-indicator {
        width: 5.56vw;
        height: 5.56vw;
    }
}